# Gitignore file for Build Info Generator.


############################################
###                Custom                ###
############################################
x64/
!x64/Release/*.exe


############################################
###           Windows specific           ###
############################################
Thumbs.db
desktop.ini

# Dump file
*.stackdump


############################################
###             VS specific              ###
############################################

# VS cache
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
